/* DebSearchToolbar Stylesheet */
/************************************/
#navigator-toolbox > toolbar:not(#toolbar-menubar):not(#TabsToolbar):not(#nav-bar):not(#addon-bar) {
  max-height: 6.5em;
}

#myDST_Toolbar {
  float: left !important;
  width: 100%;
  margin:0.5em auto;
  padding:0 0;
  line-height: 1.5;
  clear:both;
  }

#myDST_search {
  list-style-image: url("chrome://debsearchtoolbar/skin/img/cerca.png");
  margin-top: 1px;
  }

/* blank between elements */
.space {
  width: 10px;
  }

#myDST_textboxbug {
  width: 80px;
  padding: 0px;
  }

#myDST_search, #myDST_PrevBtn, #myDST_NextBtn, #myDST_ptspack {
  vertical-align: top;
}
